[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "postgres_dba"]
	path = postgres_dba
	url = https://github.com/NikolayS/postgres_dba.git
[submodule "zsh-git-prompt"]
	path = zsh-git-prompt
	url = https://github.com/starcraftman/zsh-git-prompt.git
[submodule "pg-utils"]
	path = pg-utils
	url = https://github.com/dataegret/pg-utils
